* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: rgb(255, 255, 255);
  --menu-section-color: rgb(151, 30, 0);
  --header-section-color: rgb(141, 36, 10);
  --notable-section-color: rgb(141, 36, 10);

  /* Background gradient colors */
  --bg-gradient-top: #ecf076;
  --bg-gradient-bottom: #288a2d;
}


body {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1em 0;
  background: linear-gradient(125deg, var(--bg-gradient-top) 0%, var(--bg-gradient-bottom) 100%);

  font-family: 'Roboto Condensed', sans-serif;
  color: var(--primary-text-color);

  display: grid;
  align-items: center;

  position: relative;
}

.quote-overlay {
  position: absolute;
  inset: 0;

  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  overflow: hidden;

  .quote-decoration {
    margin-right: -10rem;
    background: linear-gradient(-55deg, #bf953f, #fcf6ba, #b38728);
    background-clip: text;
    color: transparent;
  }
}

a {
  color: var(--notable-section-color);
  text-decoration: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.menu-wrapper {
  margin: 0 auto;
  padding: 2vw 4vw;
  max-width: 60em;
  width: 95%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  // background-color: white;
  background: linear-gradient(
    rgba(255, 172, 151, 0.6), 
    rgba(255, 172, 151, 0.6)
  ),
  url(../images/persian-newyear.jpg);;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  border: 0.75vw solid;
  border-image-source: linear-gradient(125deg, var(--bg-gradient-bottom) 0%, var(--bg-gradient-top) 100%);
  border-image-slice: 1;

}

@media (min-width: 62em) {
  .menu-wrapper {
    padding: 1em 2em;
    border: 0.5em solid;
    border-image-source: linear-gradient(125deg, var(--bg-gradient-bottom) 0%, var(--bg-gradient-top) 100%);
    border-image-slice: 1;
  }
}

.impact {
  font-family: 'Faster One', cursive;
}

section.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  color: var(--header-section-color);

  .title {
    font-size: Min(5vw, 3rem);
  }

  .dates {
    font-size: Min(2.125vw, 1.125rem);
    font-weight: 700;
  }
}

@media (min-width: 62em) {
  section.header {
    .title {
      font-size: 3rem;
    }

    .dates {
      font-size: 1.125rem;
    }
  }
}

section.menu {
  margin-bottom: 1.5rem;

  .title {
    font-size: Min(4vw, 2.625rem);
    margin-bottom: 0.5rem;
  }

  .menu-color {
    color: var(--menu-section-color);
  }

  .weekly-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;

    .day-panel {
      margin-bottom: Min(2vw, 2em);

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        h5 {
          font-size: clamp(0.5rem, 2.25vw, 1.25rem);
        }

        p {
          font-size: Min(1.75vw, 1rem);
        }
      }

      ul {      
        &.col-2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
        }

        li {
          font-size: clamp(0.2rem, 1.75vw, 1rem);
        }
      }
    }
  }
}

@media (min-width: 62em) {
  section.menu {
    .title {
      font-size: 2.625rem;
    }

    .weekly-menu {
      .day-panel {
        margin-bottom: 2em;

        .header {
          h5 {
            font-size: 1.25rem;
          }

          p {
            font-size: 1rem;
          }
        }

        ul {
          margin-left: 1.5em;

          li {
            font-size: 1em;

          }
        }
      }
    }
  }
}

section.notable {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: Min(1rem, 2vw);

  .notable-color {
    color: var(--notable-section-color);
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 3;

    svg {
      width: 100%;
      height: auto;
      path {
        fill: var(--notable-section-color);
      }
    }
  }

  .food {
    grid-column-start: 3;
    grid-column-end: 8;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    .category {
      margin-bottom: 1em;

      h4 {
        font-size: Min(1.5rem, 2.75vw);
        margin-bottom: 0.25em;
      }

      ul {
        margin-left: Min(2.5vw, 1.5em);

        & > * + * {
          margin-top: 0.25rem;
        }

        li {
          font-size: Min(1rem, 1.75vw);
        }
      }
    }
  }

  .announcements {
    grid-column-start: 8;
    grid-column-end: 13;

    .title {
      padding: Min(1.5em, 3vw) Min(1em, 2vw);
      color: white;

      position: relative;

      .background {
        position: absolute;
        top: 0;
        left: 0;

        width: calc(100% + Min(4vw, 2em) + Min(0.65vw, 0.5em));
        height: 100%;
        background-color: var(--notable-section-color);
      }

      p {
        position: relative;
        z-index: 1;
        font-size: Min(2rem, 3vw);
      }
    }

    .content {
      padding: Min(1em, 2vw) Min(2em, 1vw);
      font-weight: 600;

      li {
        margin-left: 1.5vw;
        margin-bottom: 0.5em;

        font-size: Min(1rem, 1.75vw);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .quote {
    margin-top: 4vw;
    font-size: Min(1rem, 2vw);
    font-weight: 700;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728);
    background-clip: text;
    color: transparent;
  }
}

@media (min-width: 62em) {
  section.notable {
    column-gap: 1rem;

    .food {
      .category {
        h4 {
          font-size: 1.5rem;
        }

        ul {
          margin-left: 1.5em;

          li {
            font-size: 1rem;
          }
        }
      }
    }

    .announcements {
      .title {
        padding: 1.5em 1em;

        .background {
          width: calc(100% + 2.5em);
        }

        p {
          font-size: 2rem;
        }
      }
      
      .content {
        padding: 1em 2em;

        li {
          margin-left: 1.5em;
          font-size: 1rem;
        }
      }
    }

    .quote {
      margin-top: 4rem;
      font-size: 1.25rem;
      font-weight: 700;
      background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728);
      background-clip: text;
      color: transparent;
    }
  }
}

section.footer {
  text-align: right;
  font-size: Min(1rem, 1.75vw);

  .food-links {
    --gap: 1vw;
    justify-content: flex-end;

    margin-top: 1.75vw;

    a::before {
      content: "|";
      margin-right: 1vw;
    }
  }
}

@media (min-width: 62em) {
  section.footer {
    text-align: 1rem;

    .food-links {
      --gap: 0.5rem;
      margin-top: 0.75rem;

      a::before {
        margin-right: 0.5rem;
      }
    }
  }
}
