* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #3F3F3F;
  --menu-section-color: rgb(101, 78, 163);
  --header-section-color: rgb(101, 78, 163);
  --notable-section-color: rgb(101, 78, 163);
  /* Background gradient colors */
  --bg-gradient-top: rgb(101, 78, 163);
  --bg-gradient-bottom: rgb(234, 175, 200);
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1em 0;
  background: linear-gradient(125deg, var(--bg-gradient-top) 0%, var(--bg-gradient-bottom) 100%);
  font-family: "Roboto Condensed", sans-serif;
  color: var(--primary-text-color);
  display: grid;
  align-items: center;
}

a {
  color: var(--notable-section-color);
  text-decoration: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.menu-wrapper {
  margin: 0 auto;
  padding: 2vw 4vw;
  max-width: 60em;
  width: 95%;
  box-sizing: border-box;
  background-color: white;
  border: 0.75vw solid;
  border-image-source: linear-gradient(125deg, var(--bg-gradient-bottom) 0%, var(--bg-gradient-top) 100%);
  border-image-slice: 1;
}

@media (min-width: 62em) {
  .menu-wrapper {
    padding: 1em 2em;
    border: 0.5em solid;
    border-image-source: linear-gradient(125deg, var(--bg-gradient-bottom) 0%, var(--bg-gradient-top) 100%);
    border-image-slice: 1;
  }
}
.impact {
  font-family: "Faster One", cursive;
}

section.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  color: var(--header-section-color);
}
section.header .title {
  font-size: min(5vw, 3rem);
}
section.header .dates {
  font-size: min(2.125vw, 1.125rem);
  font-weight: 700;
}

@media (min-width: 62em) {
  section.header .title {
    font-size: 3rem;
  }
  section.header .dates {
    font-size: 1.125rem;
  }
}
section.menu {
  margin-bottom: 1.5rem;
}
section.menu .title {
  font-size: min(4vw, 2.625rem);
  margin-bottom: 0.5rem;
}
section.menu .menu-color {
  color: var(--menu-section-color);
}
section.menu .weekly-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
}
section.menu .weekly-menu .day-panel {
  margin-bottom: min(2vw, 2em);
}
section.menu .weekly-menu .day-panel .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
section.menu .weekly-menu .day-panel .header h5 {
  font-size: clamp(0.5rem, 2.25vw, 1.25rem);
}
section.menu .weekly-menu .day-panel .header p {
  font-size: min(1.75vw, 1rem);
}
section.menu .weekly-menu .day-panel ul {
  margin-left: min(3vw, 1.5em);
}
section.menu .weekly-menu .day-panel ul.col-2 {
  -moz-columns: 2;
       columns: 2;
  -moz-column-fill: balance;
       column-fill: balance;
}
section.menu .weekly-menu .day-panel ul li {
  font-size: clamp(0.2rem, 1.75vw, 1rem);
}

@media (min-width: 62em) {
  section.menu .title {
    font-size: 2.625rem;
  }
  section.menu .weekly-menu .day-panel {
    margin-bottom: 2em;
  }
  section.menu .weekly-menu .day-panel .header h5 {
    font-size: 1.25rem;
  }
  section.menu .weekly-menu .day-panel .header p {
    font-size: 1rem;
  }
  section.menu .weekly-menu .day-panel ul {
    margin-left: 1.5em;
  }
  section.menu .weekly-menu .day-panel ul li {
    font-size: 1em;
  }
}
section.notable {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: min(1rem, 2vw);
       column-gap: min(1rem, 2vw);
}
section.notable .notable-color {
  color: var(--notable-section-color);
}
section.notable .title {
  grid-column-start: 1;
  grid-column-end: 3;
}
section.notable .title svg {
  width: 100%;
  height: auto;
}
section.notable .title svg path {
  fill: var(--notable-section-color);
}
section.notable .food {
  grid-column-start: 3;
  grid-column-end: 8;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.notable .food .category {
  margin-bottom: 1em;
}
section.notable .food .category h4 {
  font-size: min(1.5rem, 2.75vw);
  margin-bottom: 0.25em;
}
section.notable .food .category ul {
  margin-left: min(2.5vw, 1.5em);
}
section.notable .food .category ul li {
  font-size: min(1rem, 1.75vw);
}
section.notable .announcements {
  grid-column-start: 8;
  grid-column-end: 13;
}
section.notable .announcements .title {
  padding: min(1.5em, 3vw) min(1em, 2vw);
  color: white;
  position: relative;
}
section.notable .announcements .title .background {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + min(4vw, 2em) + min(0.65vw, 0.5em));
  height: 100%;
  background-color: var(--notable-section-color);
}
section.notable .announcements .title p {
  position: relative;
  z-index: 1;
  font-size: min(2rem, 3vw);
}
section.notable .announcements .content {
  padding: min(1em, 2vw) min(2em, 1vw);
  font-weight: 600;
}
section.notable .announcements .content li {
  margin-left: 1.5vw;
  margin-bottom: 0.5em;
  font-size: min(1rem, 1.75vw);
}
section.notable .announcements .content li:last-child {
  margin-bottom: 0;
}

@media (min-width: 62em) {
  section.notable {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  section.notable .food .category h4 {
    font-size: 1.5rem;
  }
  section.notable .food .category ul {
    margin-left: 1.5em;
  }
  section.notable .food .category ul li {
    font-size: 1rem;
  }
  section.notable .announcements .title {
    padding: 1.5em 1em;
  }
  section.notable .announcements .title .background {
    width: calc(100% + 2.5em);
  }
  section.notable .announcements .title p {
    font-size: 2rem;
  }
  section.notable .announcements .content {
    padding: 1em 2em;
  }
  section.notable .announcements .content li {
    margin-left: 1.5em;
    font-size: 1rem;
  }
}
section.footer {
  text-align: right;
  font-size: min(1rem, 1.75vw);
}
section.footer .food-links {
  --gap: 1vw;
  justify-content: flex-end;
  margin-top: 1.75vw;
}
section.footer .food-links a::before {
  content: "|";
  margin-right: 1vw;
}

@media (min-width: 62em) {
  section.footer {
    text-align: 1rem;
  }
  section.footer .food-links {
    --gap: 0.5rem;
    margin-top: 0.75rem;
  }
  section.footer .food-links a::before {
    margin-right: 0.5rem;
  }
}/*# sourceMappingURL=index.css.map */